<% unless tasks.select { |task| task.due_date < Date.today }.empty? %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">Overdue</li>
    <% tasks.select { |task| task.due_date < Date.today }.each do |task| %>
      <%= render 'tasks/task', task: task %>
    <% end %>
  </ul>
<% end %>

<% unless tasks.select { |task| task.due_date == Date.today }.empty? %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">Due today</li>
    <% tasks.select { |task| task.due_date == Date.today }.each do |task| %>
      <%= render 'tasks/task', task: task %>
    <% end %>
  </ul>
<% end %>

<% unless tasks.select { |task| task.due_date == Date.tomorrow }.empty? %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">Due tomorrow</li>
    <% tasks.select { |task| task.due_date == Date.tomorrow }.each do |task| %>
      <%= render 'tasks/task', task: task %>
    <% end %>
  </ul>
<% end %>

<% unless tasks.select { |task| task.due_date > Date.tomorrow }.empty? %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">Due after tomorrow</li>
    <% tasks.select { |task| task.due_date > Date.tomorrow }.each do |task| %>
      <%= render 'tasks/task', task: task, show_due_date: true %>
    <% end %>
  </ul>
<% end %>