<h1>Profile: <%= @user.username %></h1>
<hr/>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Username</dt>
    <dd><%= @user.username %></dd>
    <br/>
    <dt>Time zone</dt>
    <dd><%= @user.time_zone %></dd>
  </dl>
</div>

<%= render 'groups/group_list' %>
