<div class="jumbotron">
  <h1>Welcome to the To Do! app</h1>
  <p>A great place to create and manage your to do lists.</p>
  <p>You can set up your own private easy-to-manage to do list. You can also create or join groups so that you can easily share lists and assign tasks to other users within a group.</p>
  <p>Log in above or register to get started.</p>
  <p><%= link_to "Register", register_path, class: "btn btn-primary btn-lg" %></p>
</div>